@use 'variables' as v;


@mixin telefono {
    @media(min-width:v.$telefono){
       @content;
    }
}

@mixin tablet{
    @media(min-width:v.$tablet){
       @content;
    }
}

@mixin pc{
    @media(min-width:v.$pc){
       @content;
    }
}


@mixin pcGrande{
    @media(min-width:v.$pcGrande){
       @content;
    }
}

@mixin contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

@mixin resetear-lista{
    margin: 0;
    padding: 0;
    list-style: none;

}

@mixin gridp($column){
    display: grid;
    grid-template-columns: repeat($column,1fr );
    gap: 5rem;
}